{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 80,
  "arrowParens": "avoid",
  "editor.formatOnSave": true,
  "[javascript]": {
    "editor.formatOnSave": true
  }
}